node_modules
.env
coverage
coverage.json
typechain
typechain-types
yarn-error.log
data/*
!data/place_data_json_here

# Hardhat files
cache
artifacts

# Config
src/config/config.*.js
!src/config/config.example.js
